---
import { getLangFromUrl } from "@/i18n/ui";

const currentLang = getLangFromUrl(Astro.url);
const skipText = currentLang === "es" ? "saltar al contenido" : "skip to content";
---

<a 
	class="sr-only focus:not-sr-only focus:fixed focus:start-1 focus:top-1.5 focus:z-50 focus:px-4 focus:py-2 focus:bg-accent-base focus:text-white focus:rounded-md" 
	href="#main"
>
	{skipText}
</a>
